<table class="table table-hover">

    <thead class="table-dark">
        <tr>
            <th></th>
            <th>Name</th>
            <th>Price</th>
            <th>Unit In Stock</th>
        </tr>
    </thead>

    <tbody *ngFor="let tempProduct of products">
        <tr>
            <td class="align-center">
                <img src="{{ tempProduct.imageUrl }}" height="50px" />
            </td>
            <td class="align-center">{{tempProduct.name}}</td>
            <td class="align-center">{{tempProduct.unitPrice | currency: 'USD'}}</td>
            <td class="align-center">{{tempProduct.unitsInStock}}</td>
        </tr>
    </tbody>

</table>
    